body {
    text-align: center;
    min-height: 100vh;
    background-color: #302c37;
    color: hotpink;
    font-family: AppleGaramond, serif;
}

iframe{
    width: 50%;
    height: 80vh;
    border:none;
}

.container {
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

header .logo {
    max-width: 200px;
    height: auto;
}

.band-members {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.band-members a {
    color: #cba1ff;
    transition: background-color 0.3s, color 0.3s;
}

.band-members a:hover {
    background-color: #7200ff;
    color: #fff;
}
