body {
    text-align: right;
    min-height: 80vh;
    background-color: #302c37;
    background-image: url('../images/pubCrawlPosterA4.png');
    background-size: clamp(70%, 100%, 120%);
    color: hotpink;
    font-family: AppleGaramond, serif;
    font-size: large;
}

iframe{
    width: 50%;
    height: 80vh;
    border:none;
}

.container {
    text-align: right;
}

header {
    text-align: right;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.band-members {
    display: inline-flex;
}

.band-members a {
    color: #cba1ff;
    transition: background-color 0.3s, color 0.3s;
}

.band-members a:hover {
    background-color: #7200ff;
    color: #fff;
}
